"*":
  core: {}
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "beac0e65-01db-b210-e362-b118e6de181c"
  "go-plus": {}
  "linter-eslint": {}
  welcome:
    showOnStartup: false
